In [ ]:
 #En este Projecto se utiliza una base de datos  https://archive.ics.uci.edu/ml/datasets/zoo
 # Con Informacion de 7 clases distintas de animales, sin valores faltantes, 101 Instances, 14 atributos.

 #El objetivo de este proyecto es utilizar clasificadores para identificar los animales dentro de la base de datos.

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd
from sklearn.metrics import confusion_matrix,accuracy_score, classification_report, roc_curve

In [9]:
#Subimos base de datos 
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/zoo/zoo.data',header=None)
#df=pd.read_csv('zoo.data',header=None)
df.head(5) # Muestra

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [4]:
head_df = ['animal','hair',  'feathers' , 'eggs' , 'milk',  'airborne' , 'aquatic',  'predator' ,'toothed','backbone', 'breathes'	, 'venomous', 'fins',	'legs','tail' ,'domestic'	,'catsize', 'Type']

In [11]:
for col in df.columns: 
   df.rename({col: head_df[col] }, axis=1, inplace=True)

In [12]:
df.head()

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,Type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [32]:
X1=df.iloc[:,1:-1]
Y1=df.iloc[:,-1]

In [42]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X1, Y1, test_size=0.7,random_state= 27)

In [43]:
from sklearn.tree import DecisionTreeClassifier

In [44]:
Tree = DecisionTreeClassifier()
Tree.fit(x_train, y_train)

DecisionTreeClassifier()

In [56]:
predic = Tree.predict(x_test)

In [57]:
print('accuracy  =', accuracy_score(y_test, predic))
print(classification_report(y_test, predic))
pd.crosstab(y_test, predic, rownames=['True'], colnames=['Predicted'], margins=True)

accuracy  = 0.9295774647887324
              precision    recall  f1-score   support

           1       1.00      1.00      1.00        31
           2       1.00      1.00      1.00        15
           3       0.00      0.00      0.00         3
           4       1.00      0.92      0.96        12
           5       0.40      0.67      0.50         3
           6       1.00      1.00      1.00         3
           7       1.00      1.00      1.00         4

    accuracy                           0.93        71
   macro avg       0.77      0.80      0.78        71
weighted avg       0.93      0.93      0.93        71

Predicted   1   2  3   4  5  6  7  All
True
1          31   0  0   0  0  0  0   31
2           0  15  0   0  0  0  0   15
3           0   0  0   0  3  0  0    3
4           0   0  1  11  0  0  0   12
5           0   0  1   0  2  0  0    3
6           0   0  0   0  0  3  0    3
7           0   0  0   0  0  0  4    4
All        31  15  2  11  5  3  4   71

In [ ]:
### SVM

In [48]:
from sklearn.svm import SVC

In [65]:
SVM = SVC(degree=1 , kernel="poly",probability=True)
SVM.fit(x_train,y_train)
predic = SVM.predict(x_test)

In [66]:
print('accuracy  =', accuracy_score(y_test, predic))
print(classification_report(y_test, predic))
pd.crosstab(y_test, predic, rownames=['True'], colnames=['Predicted'], margins=True)

accuracy  = 0.704225352112676
              precision    recall  f1-score   support

           1       0.82      1.00      0.90        31
           2       0.58      1.00      0.73        15
           3       0.00      0.00      0.00         3
           4       0.00      0.00      0.00        12
           5       0.00      0.00      0.00         3
           6       1.00      0.67      0.80         3
           7       0.40      0.50      0.44         4

    accuracy                           0.70        71
   macro avg       0.40      0.45      0.41        71
weighted avg       0.54      0.70      0.61        71

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Predicted   1   2  6  7  All
True
1          31   0  0  0   31
2           0  15  0  0   15
3           2   1  0  0    3
4           4   8  0  0   12
5           1   0  0  2    3
6           0   0  2  1    3
7           0   2  0  2    4
All        38  26  2  5   71

In [67]:
## LDA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [68]:
lda = LinearDiscriminantAnalysis(n_components=2)
lda.fit(x_train, y_train)

LinearDiscriminantAnalysis(n_components=2)

In [69]:
predic = lda.predict(x_test)

In [70]:
print('accuracy  =', accuracy_score(y_test, predic))
print(classification_report(y_test, predic))
pd.crosstab(y_test, predic, rownames=['True'], colnames=['Predicted'], margins=True)

accuracy  = 0.971830985915493
              precision    recall  f1-score   support

           1       1.00      1.00      1.00        31
           2       0.94      1.00      0.97        15
           3       1.00      0.33      0.50         3
           4       1.00      1.00      1.00        12
           5       0.75      1.00      0.86         3
           6       1.00      1.00      1.00         3
           7       1.00      1.00      1.00         4

    accuracy                           0.97        71
   macro avg       0.96      0.90      0.90        71
weighted avg       0.98      0.97      0.97        71

Predicted   1   2  3   4  5  6  7  All
True
1          31   0  0   0  0  0  0   31
2           0  15  0   0  0  0  0   15
3           0   1  1   0  1  0  0    3
4           0   0  0  12  0  0  0   12
5           0   0  0   0  3  0  0    3
6           0   0  0   0  0  3  0    3
7           0   0  0   0  0  0  4    4
All        31  16  1  12  4  3  4   71